*{
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:  hsl(276, 100%, 74%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 10px solid #ff0000;
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

#navbarL li{
    padding: 0 10px;
    float: left;
}

#navbarR li{
    padding: 0 10px;
}

.list li a{
    text-decoration: none;
    font-size: 16px;
    font-family: Cascadia Code ExtraLight;
    font-weight: 600;
    color: rgb(0, 0, 0);
 }

li a:hover{
    color: rgb(0, 213, 255);
 }

#name{
    text-decoration: none;
    color: white;
    font-family: Comic Sans MS;
}

#name:hover{
    color: black;
}

.single{
    padding: 40px 20px;
}

.single img{
    border: 2px solid black;
    border-radius: 5px;
}

.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

